body {
  padding: 50px;
  font-family: 'Syncopate', sans-serif;
  font: 20px;
}

a {
  color: #00B7FF;
}

#mainContainer {
  padding: 20vmin;
}

#mainNav {
  background-color: #8bd7f2;
}

#browseBtn {
  background-color: #8bd7f2;
  border-radius: 100px; 
}

#page-top {
  padding: 12vmin;
}